<!doctype html>
<html>
<head>
    <title>Dashio - Home Page</title>

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
</head>
<body>
<div class="container home">

    <div class="section">
        <h1>Welcome to pisDASHio</h1>
        <h5>A personal dashboard experience.</h5>
        <br>
        <img src="http://vignette2.wikia.nocookie.net/plantsvszombies/images/5/5f/Pistachio_hq.png/revision/latest?cb=20140729161235">
        <br>
        <br>
        <a href="/login" class="green btn">Login</a>
        <a href="/signup" class="green btn">Signup</a>
    </div>

</div>
</body>
</html>