<!doctype html>
<html>
<head>
    <title>Dashio - Home Page</title>
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
</head>
<body>
<div class="container">

    <div class="section">
        <h1>Welcome to Dashio</h1>
        <a href="/login" class="btn">Login</a>
        or
        <a href="/signup" class="btn">Signup</a>
    </div>

</div>
</body>
</html>