<!DOCTYPE html>
<html>
<head>
  <title>Dashio</title>
  <!-- Requires Angular -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <!-- Requires Controller -->
  <script type="text/javascript" src="scripts/controller.js"></script>
   <!-- CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
  <!-- JavaScript -->
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="https://use.fontawesome.com/9a3b7c80b7.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</head>

<body class ="main" ng-app="dashioApp">
<nav class="grey darken-3">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Dashio</a>
      <ul class="right">
        <li><a href="/logout" class="waves-effect waves-light btn grey darken-1">Logout</a></li>
      </ul>
    </div>
  </nav>

<div ng-controller="dashioCtrl">

<div class="container" ng-controller="UserCtrl">
<h5 class="header">Hello, 
<!-- {{user.firstName}} --> <!-- to fix user bug w/ local storage -->
Jen!
</h5>

<hr>

  <div class="clocky" ng-controller="TimeCtrl">
    <h3 class="clock">{{ clock  | date:'medium'}}</h3>
  </div>

  <div>
    <hr>

    <div ng-controller="QuoteCtrl">
      <h5 class="quote">"{{quote.quote}}"</h5>
      <p class="author">- {{quote.author}}</p>
    </div>

    <hr>
    <br>

    <div class="row">
        <div class="col l6 s12">
          <div class="card weather">
            <div class="card-image">
              <i class="fa fa-sun-o fa-5x" aria-hidden="true"></i>
            </div>
            <div ng-controller="WeatherCtrl" class="card-content">
              <h4 class="title">Weather</h4>
              <p>{{weather.name}}</p>
              <p>{{weather.main.temp}} degrees F</p>
              <p>{{weather.weather[0].description}}</p>
            </div>
          </div>
        </div>
      

        <div class="col l6 s12">
          <div class="card traffic">
            <div class="card-image">
              <i class="fa fa-car fa-5x" aria-hidden="true"></i>
            </div>
            <div ng-controller="TrafficCtrl" class="card-content">
              <h4 class="title">Traffic</h4>
              <p>From <b>{{duration.destination_addresses[0]}}</b> to <b>{{duration.origin_addresses[0]}}</b>:
              <p><h5>{{duration.rows[0].elements[0].duration.text}}</h5></p>
            </div>
          </div>
      </div>
    </div>

    <div class = "row">
    <div class="col l12 s12 newsHeader">
    <hr>
    <h4 class="newsTitle">News</h4>
    </div>
    </div>
    <div class="row">
    <div ng-controller="NewsCtrl" class="slider" id="newsctrl">
    <ul class="slides">
      <li>
        <img ng-src="{{news.articles[0].urlToImage}}">
        <div class="caption center-align">
          <a ng-href="{{news.articles[0].url}}"><h3 class="desc">{{news.articles[0].title}}</h3></a>
          <h5 class="light grey-text text-lighten-3">{{news.articles[0].description}}</h5>
        </div>
      </li>
      <li>
        <img ng-src="{{news.articles[2].urlToImage}}">
        <div class="caption center-align">
          <a ng-href="{{news.articles[2].url}}"><h3 class="desc">{{news.articles[2].title}}</h3></a>
          <h5 class="light grey-text text-lighten-3">{{news.articles[2].description}}</h5>
        </div>
      </li>
      <li>
        <img ng-src="{{news.articles[3].urlToImage}}">
        <div class="caption center-align">
          <a ng-href="{{news.articles[3].url}}"><h3 class="desc">{{news.articles[3].title}}</h3></a>
          <h5 class="light grey-text text-lighten-3">{{news.articles[3].description}}</h5>
        </div>
      </li>
      <li>
        <img ng-src="{{news.articles[4].urlToImage}}">
        <div class="caption center-align">
          <a ng-href="{{news.articles[4].url}}"><h3 class="desc">{{news.articles[4].title}}</h3></a>
          <h5 class="light grey-text text-lighten-3">{{news.articles[4].description}}</h5>
        </div>
      </li>
      <li>
        <img ng-src="{{news.articles[5].urlToImage}}">
        <div class="caption center-align">
          <a ng-href="{{news.articles[5].url}}"><h3 class="desc">{{news.articles[5].title}}</h3></a>
          <h5 class="light grey-text text-lighten-3">{{news.articles[5].description}}</h5>
        </div>
      </li>
    </ul>
  </div>
</div>
</div>
</div>

<script type="text/javascript">

$(document).ready(function(){
      $('.slider').slider({full_width: true});
    });
</script>
</body>
</html>