<!doctype html>
<html>
<head>
    <title>Dashio - signup</title>
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1>Signup</h1>


    <!-- LOGIN FORM -->
    <form action="/signup" method="post">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>
        <div class="form-group">
            <label>first name</label>
            <input type="text" class="form-control" name="firstName">
        </div>
        <div class="form-group">
            <label>last name</label>
            <input type="text" class="form-control" name="lastName">
        </div>
         <div class="form-group">
            <label>zip code</label>
            <input type="text" class="form-control" name="zipCode">
        </div>
         <div class="form-group">
            <label>work zip code</label>
            <input type="text" class="form-control" name="workZipCode">
        </div>

        <button type="submit" class="btn green btn-lg">Signup</button>
    </form>

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>

</div>

</div>
</body>
</html>