.main{
  background-image: url("https://hd.unsplash.com/photo-1462569774800-8104213dedba");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 15%;
}

.caption{
  background-color: rgba(57, 44, 62, 0.7)
}

.header{
  text-align: center;
}

.quote{
  font-style: italic;
  color: #fafafa;
}

.author{
  color: #fafafa;
}

.home{
  text-align: center;
}

.weather{
  text-align: center;
}

.traffic{
  text-align: center;
}

.clocky{
  text-align: center;
  color: #fafafa;
}

.newsTitle{
  color: #fafafa;
  text-align: center;
}
